<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LIMSDBEntities" connectionString="metadata=res://*/MODEL.csdl|res://*/MODEL.ssdl|res://*/MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=F;initial catalog=LIMSDB;user id=sa;password=150xx847;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>