@{
    Layout = null;
}



<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="~/Areas/Login/Images/web_logo.ico" media="screen" />
    <link href="~/Areas/Login/CSS/Index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Areas/Login/JS/Index.js"></script>
    <title>欢迎来到FINAL实验室</title>
</head>
<body>
    <!-- 页首 -->
    <div id="header">
        <!-- Lab Logo And Name -->
        <div title="FINAL实验室" id="header-left" title="FINAL实验室">
            <!-- Logo -->
            <div id="header-left-logo"></div>
            <!-- Name -->
            <div id="header-left-name">FINAL实验室</div>
        </div>
        
        <!--  -->
        <div id="header-right">
            <div id="header-right-content">
                <!-- SearchBox -->
                <div id="header-search">
<!--                    <div id="header-search-btn" >
                    </div>
                    <input id="header-search-text" type="text" />-->
                </div>
                <!-- Msg  --> 
                <div id="header-msg-btn" >
                </div>
                <!-- Photo  -->
                <div id="header-photo" >
                </div>
                <!-- Nickname -->
                <div id="header-nickname" >
                    昵称.....
                </div>
                <!-- Logout -->
                <div id="header-logout-btn" title="退出登陆" >
                    <div id="header-logout-img" >
                    </div>
                    <div id="header-logout-text" >退出</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 左部收缩列表 -->
    <div id="left">
        <div class="menu" id="menu">
        </div>       
    </div>

    <!--收缩按钮 ShrinkBotton-->
     <div id="left-shrink-btn">
    </div>

    <!-- 主面板main -->
    <div id="main">

        <div class="top_nav" id="top-nav">
            <div id="nav-body">
<!--                <div onclick="NavMoveLeft()" id="nav-body-move-left"><</div>-->
                <ul id="nav-body-ul">
                    <li id="nav-column-00">
                        <div class="main_nav_li_interlayer" onclick="ChangeFrame('00')">
                            <div class="mian_nav_li_content">
                                <span class="mian_nav_li_content_title">欢迎页</span>
                            </div>
                        </div>
                        <!--<div class="mian_nav_li_close_btn" id="nav-li-close-btn-0"></div>-->
                    </li>
                </ul>
<!--                <div onclick="NavMoveRight()" id="nav-body-move-right">></div>-->
            </div>
        </div>

        <div class="main_panel" id="main-panel">
            <div id="panel-body-00" style="width: inherit; height: inherit;">
                <iframe src="WelcomePage.html" style="border: 0px currentColor; border-image: none; width: 100%; height: 100%;"></iframe>
            </div>
        </div>
    </div>

    <!-- 页脚 -->
    <div id="footer">
        Copyright ©2014-2015 FINAL LAB. All Rights Reserved
    </div>
</body>
</html>


