@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>职位选择</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style type="text/css">
        td { text-align: center; }
        th { text-align: center; }
    </style>
</head>
<body style="font-family: 'Microsoft YaHei'; background-color: rgb(237,241,249)">
    <div style="margin: 0 auto; width: 900px; margin-top: 20px">
        <div class="panel panel-default panel-danger">
            <!-- Default panel contents -->
            <div class="panel-heading">总裁</div>

            <!-- Table -->
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>录入职位</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>录入总裁</td>
                        <td>
                            <button class="btn btn-success" style="width: 100px;">选择</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>录入总裁</td>
                        <td>
                            <button class="btn btn-success" style="width: 100px">选择</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>录入总裁</td>
                        <td>
                            <button class="btn btn-success" style="width: 100px">选择</button></td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>录入总裁</td>
                        <td>
                            <button class="btn btn-success" style="width: 100px">选择</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
