@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/PersonnalManger/CSS/CheckMember.css" rel="stylesheet" />
    <script src="~/Areas/PersonnalManger/JS/jquery-1.3.1.js"></script>
    <title>Index</title>
    <script src="~/Areas/PersonnalManger/JS/CheckMember.js"></script>
</head>
<body>
    <div class="head">
        <div class="head-nav">
            <div class="head-nav-img"></div>
            <div class="head-nav-text">成员信息</div>
        </div>
    </div>
    @*------------------------------------中间搜索框-----------------------------------*@
    <div class="toolbar">
        <div class="search">
            <button class="ser-btn">搜索</button>
            <div class="ser-img"></div>
            <div id="div-input">
                <input type="text" id="input-text"  placeholder="学号或姓名" value="" style="border:1px solid none"/>
            </div>
        </div>
    </div>


    @* -------------------表格----------------------------------------------------------*@
    <div class="table-self">
        <table class="table-hover" id="table" style="font-family: 'Microsoft YaHei'">
            <thead>
                <tr class="thead-tr">
                    <th id="head-th-first"></th>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>联系方式</th>
                    <th>专业</th>
                    <th>所属部门</th>
                    <th>技术水平</th>
                    <th id="head-th-last">操作</th>
                </tr>
            </thead>
            <tbody id="body">
            </tbody>
        </table>
    </div>
    @*----------------------------------分页条--------------------------------------------------------------------*@
    <div style="width: 1056px; height: 35px; border: 1px RGB(166,199,203) solid; background-color: rgb(215,232,234)">
        <select class="select-pagesize ">
            <option>10</option>
        </select>
        <div class="div-line"></div>
        <a class="a-first" href="###"></a>
        <a class="a-pre" href="###"></a>
        <label class="lable-text">第</label>
        <span class="lable-page"></span>
        <label class="lable-text" style="margin-left: 5px">页</label>
        <label class="lable-text" id="lable-page-sum" style="margin-left: 5px"></label>
        <a class="a-next" href="###"></a>
        <a class="a-last" href="###"></a>
        <div class="div-line"></div>
        <a class="a-refresh" href="###"></a>
        <label class="lable-text-right">显示1到10，总计15条记录</label>
    </div>

    @*  --------- 遮罩效果，还没用-----------------------*@
    <div class="theme-popover-mask"></div>
</body>
</html>
